body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}

/* Initial state: content is invisible */
body {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* When page content is loaded, this class is added to make content visible */
body.visible {
    opacity: 1;
}

.bold-link {
    font-weight: bold;
}

.centered-content {
    text-align: center;
    width: 90%; /* mobile by default */
    max-width: 1200px; /* or any desired max-width */
    padding: 40px 0; /* Vertical spacing */
}

.centered-content img {
    max-width: 250px;
    max-height: 250px;
}

p {
    line-height: 1.5; /* Improving legibility */
    margin-bottom: 20px; /* Adding spacing after the paragraph */
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.9em; 
    color: darkgray;
    line-height: 1.2;
    margin-bottom: 20px;
}

/* Styling the special 'y' character */
h1 .fancy-y {
    font-family: 'Pacifico', cursive;
    color: #5DADE2;  /* Baby Blue */
    font-size: 2.5rem; /* Now it's relative to the root font size, and not the parent h1 */
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    margin: 10px 0;
    text-decoration: none;
    color: inherit; 
}

/* Adjustments for tablets and smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Reduce font size for tablets */
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    nav a {
        margin: 0 15px;
    }

    .button {
        padding: 12px 24px;
        font-size: 18px;
    }
}

/* Adjustments specifically for mobile devices */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; /* Reduce font size even more for mobile */
        margin-bottom: 15px; /* Compact margins */
    }
    
    .centered-content img {
        width: 200px; /* Set a fixed width */
        height: auto; /* Let height adjust automatically based on aspect ratio */
    }
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: scale(1.05); /* Slight enlargement on hover */
}

.button:hover {
    background-color: #2980b9;
}

.certification-slider {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    margin: 40px 0;
    position: relative;
    overflow: hidden;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.certification-slider::-webkit-scrollbar {
    display: none;
}


.slide {
    min-width: 100%; /* so each slide takes full width of the container */
    height: 250px; /* adjust based on your preference */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
}

.certification-slider:hover .slide {
    transform: scale(1.05); /* slight zoom on hover for a nice effect */
}

