body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}

.header-logo {
    max-width: 150px; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

body {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.header-nav {
    display: flex;
    gap: 20px;
}

body.visible {
    opacity: 1;
}

.bold-link {
    font-weight: bold;
}

.centered-content {
    text-align: center;
    width: 90%;
    max-width: 1200px;
    padding: 40px 0;
    margin: 0 auto;
}

.centered-content img {
    max-width: 250px;
    max-height: 250px;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.9em; 
    color: darkgray;
    line-height: 1.2;
    margin-bottom: 20px;
}

h1 .fancy-y {
    font-family: 'Pacifico', cursive;
    color: #5DADE2;
    font-size: 2.5rem;
}

/* Updated nav styles */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: inherit; 
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .button {
        padding: 12px 24px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; 
        margin-bottom: 15px; 
    }
    
    .centered-content img {
        width: 200px; 
        height: auto; 
    }

    /* Adjust the logo size for mobile */
    .header-logo {
        max-width: 100px;
    }

    /* Adjust the service header styling for mobile */
    .service-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-nav {
        margin-top: 15px;  /* Added margin for spacing */
    }

    nav a {
        margin: 5px 10px;
    }

    .button {
        padding: 8px 16px;
        font-size: 16px;
    }
}
.button {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
}

.button:hover {
    background-color: #2980b9;
}

.certification-slider {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    margin: 40px 0;
    position: relative;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.certification-slider::-webkit-scrollbar {
    display: none;
}

.slide {
    min-width: 100%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease;
}

.certification-slider:hover .slide {
    transform: scale(1.05);
}

.service-row {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.service-row img {
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.restricted-image {
    max-width: 150px;
    height: auto;
}

.service-offerings {
    flex: 1;
    padding: 20px;
}

.testimonials {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}

blockquote {
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); /* Fancy Font for the Quote */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Font for the Author */

.fancy-quote {
    font-family: 'Playfair Display', serif; /* This will be the fancy font for the quote */
    font-size: 1.5em;
    color: #3498db; /* You can change this color */
    text-align: center;
    margin-top: 50px; /* Adjust this value as needed to position the quote */
}

.quote-author {
    font-family: 'Roboto', sans-serif; /* This will be the font for the author */
    font-size: 1.2em;
    color: #2c3e50; /* You can change this color */
    display: block;
    text-align: center;
    margin-top: 20px; /* Adjust this value as needed to space between the quote and author */
}

.designation {
    font-size: 0.8em;  /* You can adjust this value as needed */
    vertical-align: super;  /* This slightly raises the designations */
    margin-bottom: -5px;  /* Adjusts the placement, remove the extra space at the bottom. Adjust the value if necessary */
}


