body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;  /* For positioning the image relative to the entire body */
}

/* Initial state: content is invisible */
body {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* When page content is loaded, this class is added to make content visible */
body.visible {
    opacity: 1;
}

.centered-content {
    text-align: center;
    width: 90%; /* mobile by default */
    max-width: 1200px; /* or any desired max-width */
    padding: 40px 0; /* Vertical spacing */
    z-index: 1;  /* Make sure the content always appears above the image */
    position: relative;  /* Relevant for z-index */
}

.centered-content img {
    position: absolute;  /* Positioning the image relative to the body */
    top: 10px;
    right: 10px;
    max-width: 250px;
    max-height: 250px;
}

/* ... rest of the styles ... */

/* Adjustments for 1080p and above */
@media (min-width: 1920px) {
    .centered-content {
        max-width: 1600px;  /* Adjust if necessary */
    }

    .centered-content img {
        max-width: 350px;
        max-height: 350px;
        top: 20px;  /* Adjust as needed */
        right: 20px;  /* Adjust as needed */
    }

    h1 {
        font-size: 3.5em;
    }

    /* Add any other adjustments you want for this screen size here */
}

/* Adjustments specifically for mobile devices */
@media (max-width: 480px) {
    .centered-content img {
        position: static;  /* Reset the positioning for mobile to default */
    }

    h1 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: scale(1.05); /* Slight enlargement on hover */
}

.button:hover {
    background-color: #2980b9;
}
